.vscode/
.cache/
yarn-error.log

src/theme/cache/
node_modules/
dist/

.vitepress/dist
.vitepress/cache

docs/.vitepress/dist
docs/.vitepress/cache

# yarn is the default pm
package-lock.json
pnpm-lock.yaml
